# Ejemplo de variables de entorno para Backend de Horizonte Pionero
MONGODB_URI="mongodb+srv://<usuario>:<password>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority"
DB_NAME="horizonte_pionero"
MASTER_DIRIGENTE_KEY="ASB-HORIZONTE-2026"

# Opcional (Almacenamiento permanente en Cloudinary):
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
